#site_contain {
	width:900px;
	margin: 30px auto;
	padding: 30px;
	border: 1px solid;
}

#navigation ul {
	list-style: none;
	padding: 10px;
	margin: 10px;
}

#navigation li {
	float: left;
	margin: 0 0.15em;
}

#navigation li a {
	color: black;
	background: white;
	text-decoration: none;
	border: 1px solid;
}

#navigation li a:hover {
	color: white;
	background: black;
}
