<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>DOCMAN:%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] %logger{24} - %msg%n</Pattern>
        </layout>
        <Target>System.out</Target>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            ${catalina.base}/logs/docman.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${catalina.base}/logs/docman.%d{yyyy-MM-dd}.log.gz
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] %logger{24} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>localhost</SMTPHost>
        <to>error</to>
        <from>from</from>
        <subject>Error: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] %logger{24} - %msg%n</Pattern>
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <!-- <appender-ref ref="STDOUT" /> -->
        <appender-ref ref="FILE" />
        <appender-ref ref="EMAIL" />
    </root>
</configuration>
